/*
   task
   ----
units in css
------------
   units are to specify the size of the container
there are 2 types of units
1. absolute units
      px,in,cm,mm ->fixed units

2. relative units
   %
   vh,-viewport-height
   vw-viewport-width
   em- element size
   rem- root element size



   calc()-function

   default -font-size :16px in html
   em- parent element font-siz
   rem- root element font-size


*/
/* *{
   margin: 0;
   padding: 0;
} */
.container{
   border: 2px solid;
   /* height: 50px; */
   display: flex;
   
}
/* .container>.child-1{
   background-color: red;
   width: 25%;
   height: 200px;
} */
.child-1,.child-2,.child-3,.child-4,.child-5{
   width: 100%;
   height: 20px;
   background-color: red;
   margin: 10px 0px;
   border-radius:5px ;
}
.child-1>div{
   width: 75%;
   background-color: burlywood;
   height: 100%;
   border-radius: 5px;
   text-align: center;
}
.child-2>div{
   width: 50%;
   background-color: burlywood;
   height: 100%;
   border-radius: 5px;
   text-align: center;
}
.child-3>div{
   width: 30%;
   background-color: burlywood;
   height: 100%;
   border-radius: 5px;
   text-align: center;
}
.child-4>div{
    width: 10%;
   background-color: burlywood;
   height: 100%;
   border-radius: 5px;
   text-align: center;
}
.child-5>div{
    width: 100%;
   background-color: burlywood;
   height: 100%;
   border-radius: 5px;
   text-align: center;
}
.first,.second{
   width: 100%;
}
/* html,body{
   height: 100%;
} */
/* body{
   
   display: flex;
   justify-content: center;
   align-items: center;
   
} */
.parent{
   width: 300px;
   height: 300px;
   /* background-color: purple; */
   border: 2px solid;
   font-size: 4em;
   /*  */
   /* 64px */
}
html{
   font-size: 0.6rem;
   /* 48px *4em */
}

.parent>div{
   /*16+16=32px  */
   /* font-size: 2em;  */


   /* width: 2rem;
   height: 2rem; */
   background-color: purple;
}
