*{
   scroll-behavior: smooth;
}

.nav-container{
   background-color: black;
   padding: 10px;
   color: white;
   position: fixed;
   width: 100%;
   top: 0px;
   z-index: +1;
   /* height: 100%; */

}
a{
   color: white;
   /* display: block; */
   /* width: 100px; */
   text-decoration: none;
}
.student-container{
   margin-top: 50px;
}
body{
   background-color: lightcoral;
}
h3{
   background-color: lightgreen;
   padding: 10px;
   text-align: center;
   color: purple;
   position: sticky;
   top: 50px;
   /* z-index: +1; */
}