 /*
    animations
    transforms
    p-elements
    grid

    display:value->grid;
    two daimensanl
        row's and column

        
    :hover
    ::after

 */

 p{
    border: 2px solid black;
    padding: 10px;
    background-color: aqua;
    color: rgb(230, 100, 35);
 }
 span{
    color: blue;
    font-style: italic;
 }
 /* p::before{
    content: "Note: ";
    font-style: italic;
    color: blue;
    

 } */
 /*
 p::after{
    content: "end-------!";
    color: rgb(155, 191, 11);
    font-style: italic;
    background-color: black;
    padding: 5px;
     border-radius: 15px; */
    /* border-top-left-radius: 10px; 
 }
    */

/* 
    p::before{
        content: "🫠-🙃";
        font-size: xx-large;

    }
    p::after{
        content: "💦";
        font-size: xx-large;

    }
  */
/* 
  p::first-letter{
    color: gold;
    font-size: 4rem;
    text-transform: uppercase;
    background-color: beige;
    border-radius: 20px;

  }
  p::first-line{
    background-color: yellow;
    text-transform: uppercase;
    color: lightgreen;
  }
  p::selection{
    background-color: purple;
    color: white;
  } */

  /* li::before{
    content: "👉";
    font-size: 2rem;
  }
  li::after{
    content: "🐶";
    font-size: 2rem;
  }
  li::marker{
    content: "🐾";
  } */
