*{
   margin: 0;
   padding: 0;
}
.lable-container{
   width: 100%;
   text-align: center;
   background-color: aqua;
   padding: 10px;
   
}
.lable-container>label{
   margin-right:10px ;
   background-color: blueviolet;
   color: white;
   padding: 5px;
}
.mirai,.little{
   /* display: none; */
   position: relative;
   bottom: 500px;
   z-index: -1;
   transition: 0.8s ease;
}
.mirai-container,.little-container{
   display: flex;
   justify-content: center;
   gap: 10px;
   align-items: start;
   
}
   .item{
      width: 100px;
      height: 100px;
      margin: 10px;
   }
#mirai,#little{
   display: none;
}
#mirai:checked~.mirai{
   /* display: flex;
   justify-content: center; */
   bottom: 0px;
   z-index: -1;
}
#little:checked~.little{
   /* display: flex;
   justify-content: center; */
   bottom:120px;
   z-index: -1;
}
img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}
 .item-1{
    background-color: lightblue;
 }
 .item-2{
    background-color: lightcoral;
 }
 .item-3{
    background-color: lightgray;
 }
 .item-4{
    background-color: lightgreen;
 }
 .item-5{
    background-color: lightsalmon;
 }
 .img-1,.img-2,.img-3,.img-4,.img-5,.img-6{
   display: none;
 }
 #a:checked~.img-1{
   position: absolute;
   top: 0;
   display: inline-block;
   /* width: 500px;
   height: 500px; */

 }
#d:checked~:root{
   background-color: black;
}
